.qcontainer{
	width: 95vmin;
	height: 40vmin;
	left:50%;
	top:30%;
	background:Trumppics/trumpbanner.JPG; 
	margin: 0 auto;
	position:absolute;
	transform: translate(-50%,-50%);
}

.quote{
	left:30%;
	top:20%;
	font-size: 4vmin;
	background-color: white;
	position:absolute;
	transform: translate(-50%,-50%);
}

.donald{
	left:40%;
	top:80%;
	font-size: 5vmin;
	background-color: white;
	position:absolute;
	transform: translate(-50%,-50%);
}

.leftbtn{
	width:47.5vmin;
	height: 45vmin;
	right:50%;
	top:50%;
	background-color:green;
	position:absolute;
}

.lrbtnbtn{
	left:50%;
	top:35%;
	position:absolute;
	transform: translate(-50%,-50%);
}

.rightbtn{
	width:47.5vmin;
	height: 45vmin;
	left:50%;
	top:50%;
	background-color:red;
	position:absolute;
}